body {
    font-family: Arial, sans-serif;
    background: #bfbbbb;
    color:#fff;
    margin:0;
    padding:0;
    background-color: #bfbbbb;
    border-bottom: 2px solid #444;
}
header { background: #5799cf; color: #9c9c9c; padding:16px; font-size:20px; font-weight:bold; }
main { padding:16px; display:flex; flex-direction:column; gap:16px; }
.news-item { background: #ffffff; border-radius:6px; padding:12px; display:flex; gap:12px; flex-wrap:wrap; align-items:flex-start; }
.news-image { width:150px; height:100px; }
.news-content { flex:1; display:flex; flex-direction:column; gap:4px;}
.news-title { font-size:16px; font-weight:bold; color:#f5c400; }
.news-date { font-size:12px; color:#aaa; }
.news-text { font-size:14px; }
.manager-item { background: #ffffff; border-radius:6px; padding:12px; display:flex; gap:12px; flex-wrap:wrap; align-items:flex-start; }
.manager-image { width: 126px; height: 191px; }
.manager-content { flex:1; display:flex; flex-direction:column; gap:4px;}
.manager-title { font-size:16px; font-weight:bold; color:#f5c400; }
.manager-date { font-size:12px; color:#aaa; }
.manager-text { font-size:14px; }
/*.btn { padding:4px 8px; border:none; border-radius:4px; cursor:pointer; background: #42b1ed; color:#000; font-weight:bold; margin-top:4px; width:fit-content; }*/
/*.btn-delete { background:red; color:#fff; }*/
.modal { display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); justify-content:center; align-items:center; z-index:1000; }
.modal-content { background:#222; padding:16px; border-radius:6px; max-width:800px; width:90%; max-height:80%; overflow:auto; position:relative; }
.close-btn { position:absolute; top:8px; right:12px; background:red; color:#fff; border:none; border-radius:50%; width:24px; height:24px; cursor:pointer; }
.modal .thumb { margin:8px; display:inline-block; cursor:pointer; position:relative; }
.modal .thumb img { width:100px; height:100px; object-fit:cover; border-radius:4px; border:2px solid transparent; transition:border 0.2s; }
.modal .thumb img.selected { border:2px solid #f5c400; }
.modal .folder-header { color:#f5c400; font-weight:bold; margin-top:12px; }

header .navbar-brand {
    color: #fff;
    font-weight: bold;
}

header .navbar-nav .nav-link {
    color: #000000;
}

header .navbar-nav .nav-link:hover {
    color: #a68e66;
}

table {
    background-color: #1e1e1e;
    border-radius: 8px;
    margin-top: 30px;
}

table th, table td {
    color: #ddd;
}

table th {
    background-color: #333;
}

table td {
    background-color: #262626;
}

table tr:nth-child(even) td {
    background-color: #333;
}
.btn-custom {
    background-color: #f39c12;
    color: #fff;
}

.btn-custom:hover {
    background-color: #e67e22;
    color: #fff;
}
@media (max-width: 767px) {
    table th, table td {
        padding: 12px;
    }
}